<ul id="book-list">
  <li class="book-item" data-id="<%= book.id %>">
    <h4>Title: <%= book.title %></h4>
    <p>Author: <%= book.author %></p>
    <p>ISBN person: <%= book.isbn %></p>
    <img src=" <%= book.img_url %> " alt="<%= book.title %>">
    <p>Description: <%= book.description %></p>
    <p>Bookshelf: </p>
  </li>
</ul>