<!DOCTYPE html>
<html>
<head>
    <%- include('./../layout/head') %>
</head>
<body>
  <main>
      <%- include('./../layout/header') %>
      <section>
    <ul id="book-list">
        <% results.forEach(book => { %>
          <li id="book-item" data-id=" <%= book.id %>">
              <h3> <%= book.title %> </h3>
              <img src=" <%= book.img_url %> " alt="<%= book.title %>">
              <h5><%= book.authors %></h5>
            <a href="/books/<%= book.id %>" >Show Details</a>
          </li>
        <% }); %>
      </ul>
      </section>
  </main>
 
</body>
</html>
