<form class="hidden-form" action="/<%= formAction === 'update' ? 'books/'+book.id : '' %>" method="post">
  <fieldset>
    <input type="hidden" name="_method" value=" <%= formAction === 'update' ? 'put' : 'post' %> ">
    <label for="title">
      <section>Title</section>
      <input type="text" name="title" value="<%= book.title %>" required>
    </label>
    <label for="author">
      <section>Author</section>
      <input type="text" name="author" value="<%= book.author %>" required>
    </label>
    <label for="isbn">
      <section>ISBN</section>
      <input type="text" name="isbn" value="<%= book.isbn %>" required>
    </label>
    <label for="img_url">
      <section>Image URL</section>
      <input type="text" name="img_url" value="<%= book.img_url %>" required>
    </label>
    <label for="description">
      <section>Description</section>
      <textarea type="text" name="description" required> <%= book.description %> </textarea>
    </label>
  </fieldset>
  <button type="submit">Update Deh Wey</button>
</form>